html,
body {
   height: 100%;
   margin: 0;
   padding: 0;
   overflow: hidden;
   font-family: 'Do Hyeon', sans-serif;
}

body {
   background-image: url('img/bgr.png');
   width: 100%;
}

.main {
   width: 100%;
   margin: 0 auto;
   max-width: 700px;
   text-align: center;
}

h1 {
   text-align: center;
   text-shadow: 3px 4px 1px #231058,
   -2px 1px 2px #1E133B,
   -3px -1px 0px #BAA8E8,
   2px 2px 5px #D6CAF5;
   color: #AE94F1;
   margin: 5px;
}

#next {
   margin-bottom: 8px;
}

.img {
   text-align: center;
}

div.qa {
   max-width: 450px;
   margin: auto;
   background: #fff;
   border-radius: 10px;
   padding: 20px 25px 20px 25px;
   color: #4557B5;
   font-size: 1rem;
   visibility: hidden;
}


div#quote {
   text-align: justify;
   font-family: Arial;
}

div#quote::before {
   content: open-quote;
   font-size: 25px;
   font-weight: bolder;
}

div#quote::after {
   content: close-quote;
   font-size: 25px;
   font-weight: bolder;
}

div#author {
   text-align: right;
   font-weight: bolder;
}

a {
   display: inline-block;
   background: #B63ED9;
   text-align: center;
   text-decoration: none;
   color: #fff;
   cursor: pointer;
}
